*.o
*.obj
*.pdb
*.pch
*.exe
*.dep
*.idb
*.ncb
*.suo
*.user
*.idb
*.pdb
_build
_release
_debug
Interop
Interop.DpSdkUsrLib.1.1.dll
Interop.DPSDKOPSLib.1.1.dll
Interop.DpSdkEngLib.1.1.dll
Interop.DPGIFTMLib.1.0.dll
AxInterop.DpSdkUsrLib.1.1.dll
AxInterop.DPSDKOPSLib.1.1.dll
AxInterop.DPGIFTMLib.1.0.dll